In [1]:
import pandas as pd
import numpy as np

In [3]:
FILEPATH = '../data/TrainNER.csv'
FILEPATH2 = '../data/ner.csv'

In [18]:
FILEPATH = '../data/TrainNER.csv'
FILEPATH2 = '../data/ner.csv'


df2 = pd.read_csv(FILEPATH2)
df2.head()

,text,labels
0,Thousands of demonstrators have marched throug...,O O O O O O B-geo O O O O O B-geo O O O O O B-...
1,Iranian officials say they expect to get acces...,B-gpe O O O O O O O O O O O O O O B-tim O O O ...
2,Helicopter gunships Saturday pounded militant ...,O O B-tim O O O O O B-geo O O O O O B-org O O ...
3,They left after a tense hour-long standoff wit...,O O O O O O O O O O O
4,U.N. relief coordinator Jan Egeland said Sunda...,B-geo O O B-per I-per O B-tim O B-geo O B-gpe ...

In [2]:
import re

def get_clean_word(inword):
  if  len(str(inword)) > 1:
    if str(inword) == '--':
      stri = '-'
    else:
      stri = re.sub("-|'|_|~", '', str(inword))
      stri = stri.replace('.', '')
      stri = stri.replace(',', '')
  else:
    stri = str(inword)
  return stri


def get_correct_label(intag):
  if intag == 'B-art':
    return 'B-org'
  elif intag == 'I-art':
    return 'I-org'
  
  elif intag == 'B-eve':
    return 'B-event'
  elif intag == 'I-eve':
    return 'I-event'
  
  elif intag == 'B-nat':
    return 'O'
  elif intag == 'I-nat':
    return 'O'
  
  elif intag == 'B-tim':
    return 'B-time'
  elif intag == 'I-tim':
    return 'I-time'

In [3]:
FILEPATH2 = '../data/ner.csv'

df2 = pd.read_csv(FILEPATH2)
vals = df2['text'].values
tags2 = df2['labels'].values
all_sentences = []

for sent in vals:
    words = sent.split()
    sentences = [get_clean_word(word) for word in words]
    all_sentences.append(sentences)

print(len(all_sentences))
print(len(vals))

47959
47959

In [4]:
print(all_sentences[0])

['Thousands', 'of', 'demonstrators', 'have', 'marched', 'through', 'London', 'to', 'protest', 'the', 'war', 'in', 'Iraq', 'and', 'demand', 'the', 'withdrawal', 'of', 'British', 'troops', 'from', 'that', 'country', '.']

In [5]:

list_of_tag_sentences2 = [[' '.join(stags)] for stags in all_sentences]
list_of_tag_sentences2 = [item for sublist in list_of_tag_sentences2 for item in sublist]

print(len(list_of_tag_sentences2))
d2 = {'text':list_of_tag_sentences2,'labels':tags2}
dtf2 = pd.DataFrame(d2, columns=['text','labels'])
dtf2.head()

47959

,text,labels
0,Thousands of demonstrators have marched throug...,O O O O O O B-geo O O O O O B-geo O O O O O B-...
1,Iranian officials say they expect to get acces...,B-gpe O O O O O O O O O O O O O O B-tim O O O ...
2,Helicopter gunships Saturday pounded militant ...,O O B-tim O O O O O B-geo O O O O O B-org O O ...
3,They left after a tense hourlong standoff with...,O O O O O O O O O O O
4,UN relief coordinator Jan Egeland said Sunday ...,B-geo O O B-per I-per O B-tim O B-geo O B-gpe ...

In [11]:
labels = df2['labels'].values
labels.replace('B-geo', 'ff')
for label in labels[:5]:
    print(label.split())

AttributeError: 'numpy.ndarray' object has no attribute 'replace'

In [13]:
FILEPATH = '../data/TrainNER.csv'

df = pd.read_csv(FILEPATH, sep=';', encoding= 'unicode_escape')

sentence_column = df['Sentence #'].values
sentence_column = [str(cell) for cell in sentence_column]

words = df['Word'].values
all_tags = df['Tag'].values
all_tags = [str(tag) for tag in all_tags]

sentences = []
sentence_tags = []


for i in range(len(sentence_column)):
    if sentence_column[i] != 'nan':
        if i != 0 :sentences.append(sentence)
        sentence = []
        sentence.append(get_clean_word(words[i]))
    else:
        sentence.append(get_clean_word(words[i]))
sentences.append(sentence)

print(f'len of sentences:{(len(sentences))}')
print('An example is:\n', sentences[42])

c = 0
sentence_tags = []

for sentence in sentences:
    sentence_tag = []
    for word in sentence:
        sentence_tag.append(all_tags[c])
        c += 1
    sentence_tags.append(sentence_tag)
print(len(sentence_tags))
print('An example is:\n', sentence_tags[42])

list_of_string_sentences = [[' '.join(sentence)] for sentence in sentences]
list_of_string_sentences = [item for sublist in list_of_string_sentences for item in sublist]
print('An example is:\n', list_of_string_sentences[42], len(sentences[42]))

list_of_tag_sentences = [[' '.join(stags)] for stags in sentence_tags]
list_of_tag_sentences = [item for sublist in list_of_tag_sentences for item in sublist]
print('An example is:\n', list_of_tag_sentences[42], len(sentence_tags[42]))

len of sentences:9000
An example is:
 ['Police', 'said', 'the', 'British', 'Home', 'Office', 'sought', 'an', 'investigation', 'of', 'Khayam', 's', 'behavior', 'after', 'he', 'was', 'photographed', 'last', 'week', 'at', 'a', 'demonstration', 'dressed', 'in', 'fatigues', ',', 'a', 'black', 'cap', ',', 'and', 'a', 'bulky', 'belt', '.']
9000
An example is:
 ['O', 'O', 'O', 'B-org', 'I-org', 'I-org', 'O', 'O', 'O', 'O', 'B-per', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
An example is:
 Police said the British Home Office sought an investigation of Khayam s behavior after he was photographed last week at a demonstration dressed in fatigues , a black cap , and a bulky belt . 35
An example is:
 O O O B-org I-org I-org O O O O B-per O O O O O O O O O O O O O O O O O O O O O O O O 35

9000
An example is:
 ['O', 'O', 'O', 'B-org', 'I-org', 'I-org', 'O', 'O', 'O', 'O', 'B-per', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
An example is:
 Police said the British Home Office sought an investigation of Khayam s behavior after he was photographed last week at a demonstration dressed in fatigues , a black cap , and a bulky belt . 35
An example is:
 O O O B-org I-org I-org O O O O B-per O O O O O O O O O O O O O O O O O O O O O O O O 35

In [77]:
print(len(list_of_string_sentences))

d = {'text':list_of_string_sentences,'labels':list_of_tag_sentences}
dtf = pd.DataFrame(d, columns=['text','labels'])
dtf.head()

9000

,text,labels
0,President Karzai thanked his allies for their ...,B-per I-per O O O O O O O O O O
1,"The commander of NATO s Afghan force , British...",O O O B-org O B-gpe O O B-org I-org B-per I-pe...
2,Referring to the fight in southern Afghanistan...,O O O O O B-geo I-geo O B-org O O O O B-time O...
3,Richards was promoted to fourstar general hour...,B-per O O O O O O O O O O O
4,Burma s military government said today that ex...,B-geo O O O O B-time O O B-per I-per I-per O O...

In [78]:
for i in range(len(list_of_string_sentences)):
  if len(list_of_string_sentences[i].split()) != len(list_of_tag_sentences[i].split()):
    print('error!')
    print(len(list_of_string_sentences[i].split()), len(list_of_tag_sentences[i].split()))

In [80]:
d = {'text':list_of_string_sentences,'labels':list_of_tag_sentences}
dtf = pd.DataFrame(d, columns=['text','labels'])
dtf.head()

,text,labels
0,President Karzai thanked his allies for their ...,B-per I-per O O O O O O O O O O
1,"The commander of NATO s Afghan force , British...",O O O B-org O B-gpe O O B-org I-org B-per I-pe...
2,Referring to the fight in southern Afghanistan...,O O O O O B-geo I-geo O B-org O O O O B-time O...
3,Richards was promoted to fourstar general hour...,B-per O O O O O O O O O O O
4,Burma s military government said today that ex...,B-geo O O O O B-time O O B-per I-per I-per O O...

In [81]:
FILEPATH2 = '../data/ner.csv'
df2 = pd.read_csv(FILEPATH2)
df2.head()

,text,labels
0,Thousands of demonstrators have marched throug...,O O O O O O B-geo O O O O O B-geo O O O O O B-...
1,Iranian officials say they expect to get acces...,B-gpe O O O O O O O O O O O O O O B-tim O O O ...
2,Helicopter gunships Saturday pounded militant ...,O O B-tim O O O O O B-geo O O O O O B-org O O ...
3,They left after a tense hour-long standoff wit...,O O O O O O O O O O O
4,U.N. relief coordinator Jan Egeland said Sunda...,B-geo O O B-per I-per O B-tim O B-geo O B-gpe ...

In [83]:
print(dtf.shape[0], df2.shape[0])
df = pd.concat([dtf, df2])
print(df.shape[0])

9000 47959
56959

In [86]:
df.to_csv('../data/my_train_NER.csv', index=False)

In [87]:
FILEPATH = '../data/my_train_NER.csv'
df3 = pd.read_csv(FILEPATH)
df3.head()
print(df3.shape[0])

56959

In [42]:


all_sentences2 = [get_clean_word(word) for sentence in vals for word in sentence.split()]
print(len(all_sentences2))
print(len(vals))

SyntaxError: cannot assign to function call (1597745091.py, line 1)

In [38]:
text = (("Hi Steve!"), ("What's up?"))
[get_clean_word(word) for sentence in text for word in sentence.split()]

['Hi', 'Steve!', 'Whats', 'up?']

In [5]:
vals = df2['labels'].values

#list_of_labels = [item for sublist in vals for item in sublist]
vals = vals.replace(' ', '')
print(np.unique(np.array(vals)))
#print(list_of_labels[:30])

AttributeError: 'numpy.ndarray' object has no attribute 'replace'

In [6]:
df = pd.read_csv(FILEPATH, sep=';', encoding= 'unicode_escape')
df.head()

    Sentence #       Word   POS    Tag
0  Sentence: 1  President   NNP  B-per
1          NaN     Karzai   NNP  I-per
2          NaN    thanked   VBD      O
3          NaN        his  PRP$      O
4          NaN     allies   NNS      O

In [13]:
tags = df['Tag'].unique()
tags = [str(tag) for tag in tags]
print(tags)

positions = df['POS'].unique()
positions = [str(pos) for pos in positions]
print(positions)

sentence_column = df['Sentence #'].values
sentence_column = [str(cell) for cell in sentence_column]

words = df['Word'].values
all_tags = df['Tag'].values
all_tags = [str(tag) for tag in all_tags]
print(len(all_tags))
print(len(words))

['B-per', 'I-per', 'O', 'B-org', 'B-gpe', 'I-org', 'B-geo', 'I-geo', 'B-time', 'I-time', 'I-gpe', 'B-obj', 'I-obj', 'B-event', 'I-event', 'nan']
['NNP', 'VBD', 'PRP$', 'NNS', 'IN', 'NN', 'VBG', '.', 'DT', 'POS', 'JJ', ',', 'MD', 'VB', 'TO', 'RB', 'VBZ', 'VBN', 'CD', 'WP', 'PRP', 'CC', 'VBP', 'JJS', 'JJR', 'NNPS', 'WRB', 'WDT', 'WP$', '``', 'RP', 'PDT', 'EX', 'RBS', 'LRB', 'RRB', ':', '$', 'RBR', ';', 'UH', 'nan']
196646
196646

In [14]:
import re

def get_clean_word(inword):
  if  len(str(inword)) > 1:
    if str(inword) == '--':
      stri = '-'
    else:
      stri = re.sub("-|'|_|~", '', str(inword))
      stri = stri.replace('.', '')
      stri = stri.replace(',', '')
  else:
    stri = str(inword)
  return stri

In [15]:
sentences = []
sentence_tags = []


for i in range(len(sentence_column)):
    if sentence_column[i] != 'nan':
        if i != 0 :sentences.append(sentence)
        sentence = []
        sentence.append(get_clean_word(words[i]))
    else:
        sentence.append(get_clean_word(words[i]))
sentences.append(sentence)

print(f'len of sentences:{(len(sentences))}')
print('An example is:\n', sentences[42])

len of sentences:9000
An example is:
 ['Police', 'said', 'the', 'British', 'Home', 'Office', 'sought', 'an', 'investigation', 'of', 'Khayam', 's', 'behavior', 'after', 'he', 'was', 'photographed', 'last', 'week', 'at', 'a', 'demonstration', 'dressed', 'in', 'fatigues', ',', 'a', 'black', 'cap', ',', 'and', 'a', 'bulky', 'belt', '.']

In [16]:
c = 0
sentence_tags = []

for sentence in sentences:
    sentence_tag = []
    for word in sentence:
        sentence_tag.append(all_tags[c])
        c += 1
    sentence_tags.append(sentence_tag)
print(len(sentence_tags))
print('An example is:\n', sentence_tags[42])

list_of_string_sentences = [[' '.join(sentence)] for sentence in sentences]
list_of_string_sentences = [item for sublist in list_of_string_sentences for item in sublist]
print('An example is:\n', list_of_string_sentences[42], len(sentences[42]))

list_of_tag_sentences = [[' '.join(stags)] for stags in sentence_tags]
list_of_tag_sentences = [item for sublist in list_of_tag_sentences for item in sublist]
print('An example is:\n', list_of_tag_sentences[42], len(sentence_tags[42]))

9000
An example is:
 ['O', 'O', 'O', 'B-org', 'I-org', 'I-org', 'O', 'O', 'O', 'O', 'B-per', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

In [17]:
list_of_string_sentences = [[' '.join(sentence)] for sentence in sentences]
list_of_string_sentences = [item for sublist in list_of_string_sentences for item in sublist]
print('An example is:\n', list_of_string_sentences[42], len(sentences[42]))

list_of_tag_sentences = [[' '.join(stags)] for stags in sentence_tags]
list_of_tag_sentences = [item for sublist in list_of_tag_sentences for item in sublist]
print('An example is:\n', list_of_tag_sentences[42], len(sentence_tags[42]))

An example is:
 Police said the British Home Office sought an investigation of Khayam s behavior after he was photographed last week at a demonstration dressed in fatigues , a black cap , and a bulky belt . 35
An example is:
 O O O B-org I-org I-org O O O O B-per O O O O O O O O O O O O O O O O O O O O O O O O 35

In [14]:
d = {'text':list_of_string_sentences,'labels':list_of_tag_sentences}
dtf = pd.DataFrame(d, columns=['text','labels'])
dtf.head()
dtf.to_csv('myNER.csv', index=False)

,text,labels
0,President Karzai thanked his allies for their ...,B-per I-per O O O O O O O O O O
1,"The commander of NATO 's Afghan force , Britis...",O O O B-org O B-gpe O O B-org I-org B-per I-pe...
2,Referring to the fight in southern Afghanistan...,O O O O O B-geo I-geo O B-org O O O O B-time O...
3,Richards was promoted to four-star general hou...,B-per O O O O O O O O O O O
4,Burma 's military government said today that e...,B-geo O O O O B-time O O B-per I-per I-per O O...

In [44]:
space = " "
list_of_string_sentences = [space.join(sentence) for sentence in sentences]
print(f'len of sentences:{(len(list_of_string_sentences))}')
print('An example is:\n', list_of_string_sentences[42])

len of sentences:9000
An example is:
 Police said the British Home Office sought an investigation of Khayam 's behavior after he was photographed last week at a demonstration dressed in fatigues , a black cap , and a bulky belt .

In [ ]:
def listToString(s):
    str1 = " "
    return (str1.join(s))
       

print(listToString(s))

In [13]:
ags = df['Tag'].unique()
tags = [str(tag) for tag in tags]
print(ttags)

positions = df['POS'].unique()
positions = [str(pos) for pos in positions]
print(positions)

['B-per', 'I-per', 'O', 'B-org', 'B-gpe', 'I-org', 'B-geo', 'I-geo', 'B-time', 'I-time', 'I-gpe', 'B-obj', 'I-obj', 'B-event', 'I-event', 'nan']
['NNP', 'VBD', 'PRP$', 'NNS', 'IN', 'NN', 'VBG', '.', 'DT', 'POS', 'JJ', ',', 'MD', 'VB', 'TO', 'RB', 'VBZ', 'VBN', 'CD', 'WP', 'PRP', 'CC', 'VBP', 'JJS', 'JJR', 'NNPS', 'WRB', 'WDT', 'WP$', '``', 'RP', 'PDT', 'EX', 'RBS', 'LRB', 'RRB', ':', '$', 'RBR', ';', 'UH', 'nan']

In [15]:
labels_to_ids = {k: v for v, k in enumerate(sorted(tags))}
print(labels_to_ids)

{'B-event': 0, 'B-geo': 1, 'B-gpe': 2, 'B-obj': 3, 'B-org': 4, 'B-per': 5, 'B-time': 6, 'I-event': 7, 'I-geo': 8, 'I-gpe': 9, 'I-obj': 10, 'I-org': 11, 'I-per': 12, 'I-time': 13, 'O': 14, 'nan': 15}